<div class="home-sections-content bp-banner-container">
  <!-- <img
    class="topbar-banner"
    src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbUJWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--565e3c591c0c718cf1889508394952dbabafebfc/topbar-banner.png"
  /> -->
  <div class="bp-banner-content">
    <img
      class="bp-logo-banner"
      src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa3BWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--00759a1a957baa16b8dda85ba989ed7125c3a642/BP-Logo-Banner.png"
    />
    <h3 class="bp-banner-text">
      A PLATAFORMA DE PARTICIPAÇÃO DIGITAL DO GOVERNO FEDERAL
    </h3>

    <a href="/users/sign_in" class="create-profile-link is-desktop">
      <div class="create-profile-link-icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <span class="create-profile-link-text">Criar perfil</span>
    </a>
  </div>
  <div class="bp-banner-image-container">
    <img
      class="bp-banner-image"
      src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa3RWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c84a6d7fc692aa07ad93a36293bd6422e01767f4/Pessoas%201.png"
    />
  </div>
  <div class="signin-container is-mobile">
    <a href="/users/sign_in" class="create-profile-link">
      <div class="create-profile-link-icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <span class="create-profile-link-text">Criar perfil</span>
    </a>
  </div>
</div>
<style>
  .is-desktop {
    display: none !important;
  }
  .is-mobile {
    display: block !important;
  }
  .section-card svg {
    width: 50px !important;
    height: 50px !important;
  }
  @media (min-width: 768px) {
    .is-mobile {
      display: none !important;
    }
    .is-desktop {
      display: flex !important;
    }
    .section-card svg {
      width: 64px !important;
      height: 64px !important;
    }
  }
  .topbar-banner {
    display: flex;
    flex: 1;
    align-self: start;
  }
  .signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -40px;
  }
  .bp-banner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 215px;
    background-image: url("https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanRWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--aba086b152d7b062ae1f59bc8db2255ea72893e9/background_mobile.png");
    background-size: cover;
    background-repeat: repeat;
  }
  .bp-banner-image {
    width: 150px;
  }
  .bp-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    gap: 12px;
  }
  .bp-logo-banner {
    width: 100px;
    flex: 1;
    min-width: 0;
  }
  .bp-banner-text {
    font-weight: 800;
    font-size: 10px;
    color: #3c3c3c;
    margin: 0;
    width: 90%;
  }
  .create-profile-link,
  .create-profile-link:hover {
    display: flex;
    padding: 2px 20px;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    background: var(--blue-warm-vivid-80);
    color: var(--pure-0);
    font-size: var(--unnamed-font-size-16-799999237060547);
    font-weight: 600;
    max-width: 120px;
    margin: 0;
  }
  .create-profile-link:hover {
    background-color: var(--blue-warm-vivid-70);
    text-decoration: none;
  }
  .create-profile-link-icon {
    color: var(--pure-0);
    font-size: 12px;
  }
  .create-profile-link-text {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    .bp-banner-container {
      padding: 4rem 1.5rem;
      height: 400px;
      gap: 0rem;
      justify-content: center;
    }
    .bp-banner-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 50%;
      gap: 40px;
      max-width: 380px;
    }
    .bp-logo-banner {
      width: 200px;
    }
    .bp-banner-image {
      min-width: 340px;
    }
    .bp-banner-text {
      font-size: 20px;
    }
    .create-profile-link,
    .create-profile-link:hover {
      display: flex;
      padding: 8px 48px;
      gap: 0.5rem;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      border-radius: 100px;
      background: var(--blue-warm-vivid-80);
      color: var(--pure-0);
      font-size: var(--unnamed-font-size-16-799999237060547);
      font-weight: 600;
      max-width: 210px;
      margin: 0;
    }
    .create-profile-link-text {
      font-size: 16px;
    }
    .create-profile-link-icon {
      font-size: 16px;
    }
  }
</style>

<% =begin%>
<section id="participatory-process-section" class="home-sections-container">
  <h2>Processos participativos</h2>
  <div class="home-sections-content participatory-items">
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Conferências</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Colegiados</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Consultas Públicas</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Enquetes</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Audiências Públicas</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Processos transversais</h3>
    </a>
  </div>
</section>
<% =end%>

<section id="news-home-section" class="home-sections-container">
  <h2>Notícias</h2>
  <div class="home-sections-content">
    <a href="#" class="main-news-card">
      <img
        class="main-news-img"
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBck5PIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5fe6db6f8c59bdfaa962a9c3b747128b9dd9b836/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrQzZBTT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--64bc4c4a355cc6a5184f6bcffc380675f1050437/Captura%20de%20Tela%202023-11-07%20a%CC%80s%2017.55.57.png"
      />
      <div class="main-news-content">
        <h3 class="news-title main-news-title">
          Brasil Participativo concentra documentos e informações na construção
          da 6ª Conferência Nacional de Segurança Alimentar e Nutricional
        </h3>
        <p class="main-news-subtitle">
          Plataforma digital do governo federal é fundamental no processo de
          reconstrução da participação social no país
        </p>
      </div>
    </a>
    <div class="news-container">
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaE5UIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0c256c8b83bd064e7147ca94b238271343382ae4/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQnpCcEF1Z0QiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5c7da9007dc77c9591b84e9376857808a7a3e5ab/photo1699625224%20(2).jpeg"
          alt=""
        />
        <span class="news-title">
          Brasil Participativo é destaque de participação digital social
          bem-sucedida em Semana de Inovação 2023
        </span>
      </a>
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0pTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--37bdb41ac822e01fde3ab16148a1c5ebab48b01f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrQzZBTT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--64bc4c4a355cc6a5184f6bcffc380675f1050437/Captura%20de%20Tela%202023-11-16%20a%CC%80s%2015.36.29.png"
          alt=""
        />
        <span class="news-title">
          Palestra sobre o caso bem-sucedido do Brasil Participativo que agitou
          o Decidim Fest é publicada
        </span>
      </a>
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcDFSIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1cefafacf348c503072ce3606fac0dae8dce6574/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrQzZBTT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--64bc4c4a355cc6a5184f6bcffc380675f1050437/Captura%20de%20Tela%202023-11-16%20a%CC%80s%2013.04.52.png"
          alt=""
        />
        <span class="news-title">
          A Etapa Digital da 4ª Conferência Nacional da Juventude chega ao fim
          com grande volume de participação e expressivo número de propostas
        </span>
      </a>
    </div>
    <div class="centered-content">
      <a href="#" class="br-button secondary" type="button"> Mais novidades </a>
    </div>
  </div>
</section>

<style>
  .news-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    background-color: var(--pure-0);
    height: 300px;
  }
  .news-img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
  .main-news-card {
    display: flex;
    flex-direction: row;
    background-color: var(--pure-0);
    border-radius: 10px;
    margin-bottom: 3rem;
  }
  .main-news-img {
    width: calc(1152px / 2);
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  .main-news-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
  }
  .main-news-content h2 {
    font-size: 24px !important;
  }
  .main-news-content h3 {
    font-size: 18px;
  }
  .news-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .news-card .news-title {
    font-weight: 600;
    padding: 0 16px;
  }

  .news-tag {
    background-color: #077835;
    border-radius: 10px;
    padding: 4px 16px;
    font-size: 14px;
    color: var(--pure-0);
    text-transform: uppercase;
    margin-top: auto;
    width: 150px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .main-news-content {
      max-width: calc(1152px / 2);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .main-news-title {
      font-size: 1.26rem;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      color: var(--blue-warm-vivid-80);
    }
    .main-news-subtitle {
      font-size: 1.05rem;
    }
    .news-container {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
</style>

<%
=begin%>

<section id="service-channels-home-section" class="home-sections-container">
  <h2 class="title-secondary">Canais de Atendimento</h2>
  <div class="home-sections-content service-channels-container">
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Fale conosco</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Ouvidoria</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">Área de imprensa</h3>
    </a>
    <a class="section-card" href="#">
      <i class="fa-solid fa-question-circle"></i>
      <h3 class="section-card-title">
        Serviço de Informações ao Cidadão (SIC)
      </h3>
    </a>
  </div>
</section>
<%
=end%>

<section id="stats-home-section" class="home-sections-container">
  <h2>Já somos</h2>
  <div class="home-sections-content stats-container">
    <div class="stats-card">
      <h2>000.000.000</h2>
      <h5>Participantes</h5>
    </div>
    <div class="stats-card">
      <h2>000.000.000</h2>
      <h5>Acessos</h5>
    </div>
  </div>
</section>

<style>
  :root {
    --blue-warm-vivid-05: #edf5ff;
  }

  .home-sections-container h1,
  .home-sections-container h2,
  .home-sections-container h3,
  .home-sections-container h4,
  .home-sections-container h5,
  .home-sections-container p {
    margin: 0 !important;
    padding: 0 !important;
  }

  .home-sections-container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .home-sections-container:nth-child(odd) {
    background-color: var(--gray-2);
  }

  .home-sections-container:nth-child(even) {
    background-color: var(--pure-0);
  }

  .home-sections-container h2 {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--blue-warm-vivid-80);
    font-size: 20px !important;
  }

  .home-sections-container .home-sections-content {
    margin: 0 auto;
    width: auto;
  }

  #service-channels-home-section {
    background-color: var(--blue-warm-vivid-80);
  }

  .participatory-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .home-sections-container .stats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
  }

  .stats-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    background-color: var(--blue-warm-vivid-05);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .stats-card:hover {
    background-color: var(--blue-10);
  }

  .stats-card h2 {
    font-weight: 400;
    font-size: 2rem;
  }

  .stats-card h5 {
    color: var(--blue-warm-vivid-80);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.25rem;
  }

  @media (min-width: 768px) {
    .participatory-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

    .home-sections-container {
      padding: 4rem 0;
      gap: 2.5rem;
    }

    .home-sections-container h2 {
      font-size: 2.178rem !important;
    }

    .home-sections-container .home-sections-content {
      margin: 0 auto;
      max-width: 1152px;
    }
    .participatory-items {
      flex-direction: row;
      max-width: 900px !important;
    }
  }

  .title-secondary {
    color: var(--pure-0) !important;
  }

  .centered-content {
    display: flex;
    justify-content: center;
  }

  .centered-content a {
    color: var(--interactive);
  }

  .home-sections-container .home-sections-content.service-channels-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .home-sections-container .home-sections-content.service-channels-container {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 600px;
    }
  }

  @media (min-width: 1280px) {
    .home-sections-container .home-sections-content.service-channels-container {
      width: auto;
    }
  }
</style>

<%
=begin%>
  Cards home
<%
=end%>
<style>
  .section-card {
    display: flex;
    width: 154px;
    height: 109px;
    padding: 8px;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--pure-0);
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  }

  .section-card i {
    font-size: 46px;
    color: var(--blue-warm-vivid-80);
  }
  .section-card:hover {
    background: var(--blue-10);
  }

  .section-card-title {
    color: var(--blue-warm-vivid-80);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @media (min-width: 768px) {
    .section-card {
      display: flex;
      width: 250px;
      height: 175px;
      padding: 16px;
      gap: 16px;
    }

    .section-card i {
      font-size: 64px;
    }

    .section-card-title {
      font-size: 1.125rem;
    }
  }
</style>
