<section class="home-section new-features-container">
    <h2 class="home-section-title">Novas funcionalidades em breve</h2>
    <div class="new-features-content">
      <div class="new-feature-card">
        <div class="card-content">
          <div class="new-feature-icon-background">
            <i class="fa fa-hand fa-2xl"></i>
          </div>
          <p class="card-name">Um espaço para Conselhos Participativos</p>
          <p class="card-description">
            Órgãos vinculados aos ministérios com membros da sociedade civil
          </p>
        </div>
      </div>
      <div class="new-feature-card">
        <div class="card-content">
          <div class="new-feature-icon-background">
            <i class="fa fa-book-open fa-2xl"></i>
          </div>
          <p class="card-name">Participação Digital do Governo Federal</p>
          <p class="card-description">
            Iniciativas do governo para escuta à população para definir decretos e
            outras ações
          </p>
        </div>
      </div>
      <div class="new-feature-card">
        <div class="card-content">
          <div class="new-feature-icon-background">
            <i class="fa fa-handshake-angle fa-2xl"></i>
          </div>
          <p class="card-name">Apoio às Conferências Nacionais</p>
          <p class="card-description">
            Processos participativos e eventos realizados pelo governo e conselhos
            para construção de políticas
          </p>
        </div>
      </div>
    </div>
  </section>