<section class="news-card">
  <span class="home-section-title">Novidades</span>
  <div class="news-card__list br-container-lg">
    <a
      class="news-card__list__item"
      href="/processes/brasilparticipativo/f/26/posts/38"
    >
      <img
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbEV0IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--af7817071de84fd06850dc483c7587eeddedbfce/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQnpCcEF1Z0QiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5c7da9007dc77c9591b84e9376857808a7a3e5ab/image.jpeg"
      />
      <div class="news-card__list__item__overlay">
        Governo lança plataforma digital para definir prioridades da juventude
        para a 4ª Conferência Nacional da Juventude
      </div>
    </a>
    <a
      class="news-card__list__item"
      href="/processes/brasilparticipativo/f/26/posts/39"
    >
      <img
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbEl0IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--868c698d74cf1b9bb2cd92092e5b7d6068b7e491/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQnpCcEF1Z0QiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5c7da9007dc77c9591b84e9376857808a7a3e5ab/image.jpeg"
      />
      <div class="news-card__list__item__overlay">
        Estratégia Nacional de Governo Digital promete melhorar o serviço
        público para a população
      </div>
    </a>
    <a
      class="news-card__list__item"
      href="/processes/brasilparticipativo/f/26/posts/39"
    >
      <img
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBazR0IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57c08f6966d5e6376d7f022713fd401c992c3d3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQnpCcEF1Z0QiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5c7da9007dc77c9591b84e9376857808a7a3e5ab/image.jpeg"
      />
      <div class="news-card__list__item__overlay">
        PPA Participativo entregue ao Congresso Nacional incluiu 76% das
        principais propostas e programas analisados pelo governo federal
      </div>
    </a>
  </div>
  <div class="more-news-button-container">
    <a
      class="br-button primary mr-3"
      type="button"
      href="/processes/brasilparticipativo/f/26/"
      >Mais Novidades</a
    >
  </div>
</section>

<style>
  .news-card__list {
    justify-content: center;
  }

  .new-features-content {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }
</style>
