<section class="carousel-container"></section>

<div class="centered-content">
  <a href="#" class="br-button primary mr-3" type="button">Etapa digital</a>
</div>

<section class="actions-section br-container">
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-bullhorn fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-file-alt fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-question fa-2xl"></i>
    </div>
    <p class="action-text">Perguntas frequentes</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-check-circle fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-check-circle fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
</section>

<section class="br-container-lg">
  <h1>Organizadores</h1>
  <div class="">

  </div>
</section>
<section class="br-container-lg">
  <h1>Apoiadores</h1>
</section>

<style>
  .splide__progress__bar {
    height: 3px;
    background: #ccc;
  }
  .br-carousel-container {
    display: flex;
    justify-content: center;
  }
  .br-carousel .carousel-button .carousel-btn-next i.fas,
  .br-carousel .carousel-button .carousel-btn-prev i.fas {
    font-size: var(--carousel-buton-icon-size);
    color: white;
  }
  .carousel-container {
    background-color: blue;
    width: auto;
    height: 400px;
  }
  .centered-content {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
  }
  .actions-section {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 40px auto;
  }

  @media (min-width: 1284px) {
    .actions-section {
      display: flex;
      gap: 16px;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 140px;
      text-align: center;
    }
  }

  .action-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--blue-cool-vivid-5);
    width: 180px;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 8px;
    text-align: center;
    padding: 16px;
    flex-grow: 1;
  }

  .action-icon-background {
    background-color: var(--blue-warm-vivid-70);
    color: #fff;
    text-align: left;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .action-container:hover {
    background-color: var(--blue-warm-vivid-20);
  }

  .action-text {
    color: var(--color-secondary-08);
    margin: 0px;
    font-weight: 600;
    text-align: left;
  }
</style>
