<section class="carousel-container"></section>

<section id="create-profile-container">
  <a href="/users/sign_in" class="create-profile-link">
    <div class="create-profile-link-icon"><i class="fa-solid fa-user"></i></div>
    <span class="create-profile-link-text">Criar perfil</span>
  </a>
</section>

<section class="actions-section br-container">
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-bullhorn fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-file-alt fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-question fa-2xl"></i>
    </div>
    <p class="action-text">Perguntas frequentes</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-check-circle fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
  <a class="action-container" href="#">
    <div class="action-icon-background">
      <i class="fa-solid fa-check-circle fa-2xl"></i>
    </div>
    <p class="action-text">Lorem Ipsum</p>
  </a>
</section>

<section id="news-home-section" class="home-sections-container br-container-lg">
  <h1>Notícias</h1>
  <div class="home-sections-content">
    <div class="news-container">
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaE5UIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0c256c8b83bd064e7147ca94b238271343382ae4/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQnpCcEF1Z0QiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5c7da9007dc77c9591b84e9376857808a7a3e5ab/photo1699625224%20(2).jpeg"
          alt=""
        />
        <span class="news-title">
          Brasil Participativo é destaque de participação digital social
          bem-sucedida em Semana de Inovação 2023
        </span>
      </a>
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0pTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--37bdb41ac822e01fde3ab16148a1c5ebab48b01f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrQzZBTT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--64bc4c4a355cc6a5184f6bcffc380675f1050437/Captura%20de%20Tela%202023-11-16%20a%CC%80s%2015.36.29.png"
          alt=""
        />
        <span class="news-title">
          Palestra sobre o caso bem-sucedido do Brasil Participativo que agitou
          o Decidim Fest é publicada
        </span>
      </a>
      <a href="#" class="news-card">
        <img
          class="news-img"
          src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcDFSIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1cefafacf348c503072ce3606fac0dae8dce6574/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrQzZBTT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--64bc4c4a355cc6a5184f6bcffc380675f1050437/Captura%20de%20Tela%202023-11-16%20a%CC%80s%2013.04.52.png"
          alt=""
        />
        <span class="news-title">
          A Etapa Digital da 4ª Conferência Nacional da Juventude chega ao fim
          com grande volume de participação e expressivo número de propostas
        </span>
      </a>
    </div>
    <div class="centered-content">
      <a href="#" class="br-button secondary" type="button"> Mais novidades </a>
    </div>
  </div>
</section>

<style>
  .centered-content .br-button.secondary {
    color: var(--interactive);
  }
  .main-news-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--pure-0);
    padding: 1rem;
  }
  .main-news-img {
    width: calc(1152px / 2);
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  .main-news-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0 0;
    width: 100%;
  }
  .main-news-title {
    font-size: 16px !important;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: var(--blue-warm-vivid-80);
  }
  .main-news-subtitle {
    font-size: 12px;
  }
  .news-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .news-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: flex-start;
    background-color: var(--pure-0);
    height: auto;
    padding: 0.5rem 1rem;
  }
  .news-img {
    width: 160px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
  }
  .news-card .news-title {
    font-size: 12px;
    font-weight: 600;
    padding: 0.5rem 0;
    max-height: 120px;
    max-height: 110px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--blue-warm-vivid-80);
  }

  .news-card .news-title:hover {
    color: var(---blue-warm-vivid-70);
  }

  .news-tag {
    background-color: #077835;
    border-radius: 10px;
    padding: 4px 16px;
    font-size: 14px;
    color: var(--pure-0);
    text-transform: uppercase;
    margin-top: auto;
    width: 150px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .main-news-card {
      flex-direction: row;
      margin-bottom: 2.5rem;
    }
    .main-news-content {
      max-width: calc(1152px / 2);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .main-news-title {
      font-size: 1.26rem;
    }
    .main-news-subtitle {
      font-size: 1.05rem;
    }
    .news-container {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .news-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      align-items: center;
      background-color: var(--pure-0);
      height: 280px;
    }
    .news-img {
      width: 100%;
      height: 150px;
      border-radius: 10px;
      object-fit: cover;
    }
    .news-card .news-title {
      font-weight: 600;
      padding: 0 16px;
      font-size: 1rem;
    }
  }
</style>

<section class="br-container-lg">
  <h1>Organizadores</h1>
  <div class="organization-container">
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
  </div>
</section>
<section class="br-container-lg">
  <h1>Apoiadores</h1>
  <div class="supporters-container">
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
    <a class="logo-items" href="#"></a>
  </div>
</section>
<style>
  .organization-container {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 40px auto;
  }
  .supporters-container {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 40px auto;
  }
  .logo-items {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--blue-cool-vivid-5);
    width: 180px;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 8px;
    text-align: center;
    padding: 16px;
    flex-grow: 1;
  }
</style>

<style>
  .splide__progress__bar {
    height: 3px;
    background: #ccc;
  }
  .br-carousel-container {
    display: flex;
    justify-content: center;
  }
  .br-carousel .carousel-button .carousel-btn-next i.fas,
  .br-carousel .carousel-button .carousel-btn-prev i.fas {
    font-size: var(--carousel-buton-icon-size);
    color: white;
  }
  .carousel-container {
    background-color: blue;
    width: auto;
    height: 400px;
  }
  .centered-content {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .actions-section {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 40px auto;
  }

  @media (min-width: 1284px) {
    .actions-section {
      display: flex;
      gap: 16px;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 140px;
      text-align: center;
    }
  }

  .action-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--blue-cool-vivid-5);
    width: 180px;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 8px;
    text-align: center;
    padding: 16px;
    flex-grow: 1;
  }

  .action-icon-background {
    background-color: var(--blue-warm-vivid-70);
    color: #fff;
    text-align: left;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .action-container:hover {
    background-color: var(--blue-warm-vivid-20);
  }

  .action-text {
    color: var(--color-secondary-08);
    margin: 0px;
    font-weight: 600;
    text-align: left;
  }
</style>
