<script>
  function fetchAllPages(url) {
    return fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error(`Error fetching the page. Response status: ${response.status}`);
        }
        return response.text();
      })
      .then(html => {
        let resultHTML = html;

        const tempElement = document.createElement("div");
        tempElement.innerHTML = resultHTML;

        const paginationLast = tempElement.querySelector('.pagination-last a');
        if (!paginationLast) return html;

        const lastPageLink = paginationLast.getAttribute('href');

        const regex = /page=(\d+)/;
        const match = lastPageLink.match(regex);

        // Assuming the base URL is known and provided here
        const baseURL = 'https://brasilparticipativo.presidencia.gov.br';

        if (match) {
          const totalPageNumber = parseInt(match[1], 10);
          const fetchPromises = [];

          for (let i = 2; i <= totalPageNumber; i++) {
            // Create the new URL by combining the base URL with the replaced page number in the href
            const newURL = `${baseURL}${lastPageLink.replace(regex, `page=${i}`)}`;

            fetchPromises.push(
              fetchHTML(newURL)
                .then(pageHtml => {
                  // Append each fetched news-item to resultHTML
                  resultHTML += pageHtml;
                })
                .catch(error => {
                  console.error('Error fetching page:', error);
                })
            );
          }

          // Wait for all fetches to complete before returning resultHTML
          return Promise.all(fetchPromises).then(() => resultHTML);
        } else {
          console.log('Page number not found');
          return resultHTML;
        }
      })
      .catch(error => {
        throw new Error(`Error fetching the page: ${error.message}`);
      });
  }

  function fetchHTML(url) {
    return fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error(`Error fetching the page. Response status: ${response.status}`);
        }
        return response.text();
      })
      .then(html => {
        return html;
      })
      .catch(error => {
        throw new Error(`Error fetching the page: ${error.message}`);
      });
  }

  function parseDateFromText(dateString) {
    const [day, month, year] = dateString.split("/").map(Number);
    const fullYear = year < 100 ? 2000 + year : year;
    return new Date(fullYear, month - 1, day);
  }

  function formatDateToDDMMYY(date) {
    const day = date.getDate().toString().padStart(2, "0");
    const month = (date.getMonth() + 1).toString().padStart(2, "0"); 
    const year = date.getFullYear().toString().substring(2); 
    return `${day}/${month}/${year}`;
  }

  function getElements(HTML) {
    const titleElement = originalNewsElement.querySelector('.news-title');

    let titleContent = '';
    let hrefPost = '#';

    if (titleElement) {
      titleContent = titleElement.textContent.trim();
      hrefPost = titleElement.getAttribute('href');
    }

    const descriptionElement = originalNewsElement.querySelector('.news-description');
    let dateExtracted = new Date(0);
    let subtitleContent = '';

    if (descriptionElement) {
      const fullDescription = descriptionElement.textContent.trim();
      subtitleContent = fullDescription.split('-')[1].trim();
      dateExtracted = parseDateFromText(fullDescription.split("-")[0].trim());
    }
    else if (originalNewsElement.querySelector('.br-card-content')){
      // mobile devices
      subtitleContent = originalNewsElement.querySelector('.br-card-content');
      const tempElement = originalNewsElement.querySelector('.br-card-date');
      dateExtracted = parseDateFromText(tempElement.textContent.trim());
    }

    const imageElement = originalNewsElement.querySelector('.news-cover-image');
    let imageUrl = '#';
    
    if (imageElement){
      imageUrl = imageElement.getAttribute('href');
    }

    return { titleContent, hrefPost, subtitleContent, imageUrl }
  }

  // Generates blog components and returns the complete HTML
  function generateBlogHTML(url, originalHTML) {
    const tempElement = document.createElement('div');
    tempElement.innerHTML = originalHTML;

    const originalNewsElements = tempElement.querySelectorAll('.news-item');
    const resultHTMLArray = [];

    originalNewsElements.forEach(originalNewsElement => {
      
      const { titleContent, hrefPost, subtitleContent, imageUrl } = getElements(originalNewsElement);

      const htmlTemplate = `
          <a class="" href="${hrefPost}">
              <img src="${imageUrl}" />
              <div class="">
                  ${titleContent}
              </div>
              <div class="">
                  ${subtitleContent}
              </div>
          </a>
      `;

      resultHTMLArray.push(htmlTemplate);
    });

    let resultHTML = resultHTMLArray.join('\n');
    resultHTML += "</div></section>";
    return resultHTML;
  }

  // Calls the fetchHTML and generateBlogHTML functions asynchronously
  function generateBlog(url, title) {
    fetchHTML(url)
      .then(html => {
        return generateBlogHTML(url, html);
      })
      .then(newsContent => {
        if (newsContent !== "error") {
          let blogContent = `<section class="">
                              <span class="">${title}</span>
                              <div class="">`;
          blogContent += newsContent;

          const blogContainer = document.querySelector('#blogContainer');

          if (blogContainer) {
            blogContainer.innerHTML = blogContent;
          } else {
            console.error('Element with id "blogContainer" not found.');
          }
        } else {
          console.error('Error fetching news.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  // !!!!ONLY NEED TO CALL THIS FUNCTION TO GENERATE THE NEWS!!!!
  // Information about the variables in readme.md
  const url = '';
  const title = '';

  generateBlog(url, title);
</script>